body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App
{
  display: flex;
  justify-content: center;
}

#calculator 
{
  margin-top: 100px;
  height: 450px;
  background-color:  steelblue;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-gap: 5px;
}

#calculator > * {
  border: 3px solid black;
  padding: 10px;
}

.row
{
  grid-column: 1 / -1;
}

#clear
{
  grid-column-start: 1;
  grid-column-end: 3;
}

#zero
{
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals
{
  grid-row-start: 7;
  grid-row-end: 5;
  grid-column-end: 5;
}

#decimal
{
  grid-row-start: 6;
}

button {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 2px blue;
}

button:hover {
  background-color: #acc;
}

#clear {
  background-color: red;
}

#equals {
  background-color: blueviolet;
}